<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 pb-3" style="background-color: whitesmoke; margin-top: 10px;">

  <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a><span style="color: black;">shop</span><span style="color: #E59500;">Dev</span></a>.
        All rights reserved.
    </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->