<div class="row" style="padding: 10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4 main " style="border: black solid 1px; padding: 5vh">
        <h1 style="padding:5px;">Sign In</h1>
        <hr>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="checkout" style="padding: 5px;">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="checkout" style="padding: 5px;">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-raised btn-info main">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/user/signup">Register here!</a></p>
    </div>
</div>